P1 --> Page 03
P2 --> Page 03
P3 --> Page 04
P4 --> Page 04 | Page 05, there are some captures form our code implemetation along with the source code in the repository
P5 --> Page 06 | Page 07
P6 --> Page 06 | Page 07